body {
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    font-size: 14px;

    color: #000000;

    margin: 0 auto;

    background-image: url("../img/index-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

.main-header {
    font-size: 16px;

    background-color: #000000;
    display: flex;
    justify-content: center;

    color: #FFFFFF;
    text-transform: uppercase;


    min-height: 72px;
}

.main-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1024px;
    width: 100%;
}

.main-header__nav, .main-header__auth {
    display: flex;
    
    height: 100%;

}

.main-header__nav-item {
    color: #FFFFFF;

    padding: 0 10px;

    display: flex;
    align-items: center;
}

.auth-status__login-button {
    padding: 0 10px;

    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    font-size: 16px;

    color: #FFFFFF;
    text-transform: uppercase;

    border: none;
    background-color: transparent;

    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    grid-gap: 15px;
}

.main-header__nav-item:hover, .auth-status__login-button:hover {
    background-color: #242424;

    cursor: pointer;
}

.main-header__nav-item, .auth-status__login-button {
    transition: background-color .3s;
}

.auth-status__login-icon g {
    opacity: .3;
    transition: opacity .3s;
}

.auth-status__login-button:hover g {
    opacity: 1;
}

/*main*/

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.features {
    color: #FFFFFF;
    width: 100%;

    margin-bottom: 75px;

}

.features__list {
    margin: 0;
    padding: 0 10px;
    list-style: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 290px;

}

.features__list-item-text, .features__list-item-title {
    margin: 0;
}

.features__list-item-title {
    margin-bottom: 75px;

    font-size: 30px;
    text-transform: uppercase;

    position: relative;
}

.features__list-item-title::after {
    content: "";
    display: block;

    width: 15px;
    height: 15px;
    transform: rotate(45deg);

    background-color: #F7F4F1;

    position: absolute;
    bottom: -41px;
    left: calc(50% - 10px);

}

.features__list-item-text {
    text-align: center;
    line-height: 24px;
}

.container__section-wrapper {
    display: flex;
    justify-content: space-between;

    background-color: #F7F4F1;
    background-image: url("../img/Layer-10.jpg");

    padding: 50px 80px;

    margin-bottom: 35px;
    width: 100%;
    box-sizing: border-box;

}

.container__section-wrapper-item {
    width: 320px;
}

.news-block {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.news-block__title, .gallery__title {
    margin: 0;
    margin-bottom: 10px;
    
    text-transform: uppercase;
    font-size: 30px;
    
}

.news-block__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.news-block__list-item-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
}

.container__section-wrapper-border {
    width: 8px;
    height: 278px;
}

.gallery__list {
    margin: 0;
    padding: 0;
    list-style: none;
}


.gallery__list-item-img {
    width: 100%;
    height: auto;
}

.swiper-container {
    width: 100%;
    height: 165px;
}

.gallery__button-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

.contact, .order {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts__title, .order__title {
    margin: 0;

    font-size: 30px;
    text-transform: uppercase;
}

.contacts__text, .order__text {
    line-height: 24px;
}

.contacts__wrapper-button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

.order__form {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.order__form-item {
    display: flex;
    flex-direction: column;
}

.order__form-label {
    margin-bottom: 10px;
    padding-left: 15px;

    text-transform: uppercase;
}

.main-input {
    border: 2px solid #000000;
    outline: none;
}

.order__form-input{
    width: 135px;
    height: 35px;
}

.order__form-input::placeholder {
    font-family: PT Sans Narrow;
    font-size: 14px;
    font-weight: 700;
   
    opacity: .9;
}

.order__submit-button {
    width: 100%;
    /*не работает*/
}

/*......................................*/
.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.main-button {
    border: none;

    font-family: PT Sans Narrow;
    font-size: 14px;
    font-weight: 700;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #000000;
    color: #FFFFFF;
    text-transform: uppercase;

    padding: 10px 5px;

    transition: .3s;

}

.main-button:hover {
    background-color: #663D15;

    cursor: pointer;
}