body {
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    font-size: 14px;

    color: #000000;

    margin: 0 auto;

    background-image: url("./img/index-background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

.main-header {
    font-size: 16px;

    background-color: #000000;
    display: flex;
    justify-content: center;

    color: #FFFFFF;
    text-transform: uppercase;


    min-height: 72px;
}

.main-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1024px;
    width: 100%;
}

.main-header__nav, .main-header__auth {
    display: flex;
    
    height: 100%;

}

.main-header__nav-item {
    color: #FFFFFF;

    padding: 0 10px;

    display: flex;
    align-items: center;
}

.auth-status__login-button {
    padding: 0 10px;

    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    font-size: 16px;

    color: #FFFFFF;
    text-transform: uppercase;

    border: none;
    background-color: transparent;

    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    grid-gap: 15px;
}

.main-header__nav-item:hover, .auth-status__login-button:hover {
    background-color: #242424;

    cursor: pointer;
}

.main-header__nav-item, .auth-status__login-button {
    transition: background-color .3s;
}

.auth-status__login-icon g {
    opacity: .3;
    transition: opacity .3s;
}

.auth-status__login-button:hover g {
    opacity: 1;
}

/*main*/

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.features {
    color: #FFFFFF;
    width: 100%;

}

.features__list {
    margin: 0;
    padding: 0 10px;
    list-style: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 290px;

}

.features__list-item-text, .features__list-item-title {
    margin: 0;
}

.features__list-item-text {
    text-align: center;
}

.features__list-item-title {
    font-size: 30px;
}

/*......................................*/
.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}